@use '../../../design-tokens/dist/halfmoon/button-vars';

@use '../base/variables' as v;

.#{v.$prefix4pg}btn {
  @extend .#{v.$theme-name}; // component variables should be imported by <link>

  // position: relative;
  display: inline-block;
  height: var(--pg-c--button--height);
  padding: var(--pg-c--button--padding);
  border: var(--pg-c--button--border-width) solid;
  border-color: var(--pg-c--button--border-color);
  border-radius: var(--pg-c--button--border-radius);
  box-shadow: var(--pg-c--button--box-shadow);
  text-align: center;
  line-height: var(--pg-c--button--line-height);
  // text-decoration: none; // remove anchor underline
  color: var(--pg-c--button--text-color);
  background-color: var(--pg-c--button--bg-color);
  background-image: var(--pg-c--button--bg-image);
  cursor: pointer;
  white-space: nowrap;

  &.hover,
  &:hover {
    text-decoration: none;
    color: var(--pg-c--button--hover--text-color);
    background-color: var(--pg-c--button--hover--bg-color);
    border-color: var(--pg-c--button--hover--border-color);
    box-shadow: var(--pg-c--button--hover--box-shadow);
  }

  &:focus,
  &:active,
  &.active {
    text-decoration: none;
    color: var(--pg-c--button--focus--text-color);
    background-color: var(--pg-c--button--focus--bg-color);
    border-color: var(--pg-c--button--focus--border-color);
    box-shadow: var(--pg-c--button--focus--box-shadow);
    outline: var(--pg-c--button--focus--outline);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: var(--pg-c--button--disabled--opacity);

    &:hover,
    &:focus {
      color: var(--pg-c--button--text-color);
      background-color: var(--pg-c--button--bg-color);
      border-color: var(--pg-c--button--border-color);
      box-shadow: none;
      outline: none;
    }
  }

  &-primary {
    color: var(--pg-c--button--primary--text-color);
    background-color: var(--pg-c--button--primary--bg-color);
    border-color: var(--pg-c--button--primary--border-color);
    box-shadow: var(--pg-c--button--primary--box-shadow);

    &.hover,
    &:hover {
      color: var(--pg-c--button--primary--hover--text-color);
      background-color: var(--pg-c--button--primary--hover--bg-color);
      border-color: var(--pg-c--button--primary--hover--border-color);
      box-shadow: var(--pg-c--button--primary--hover--box-shadow);
    }

    &:focus,
    &:active,
    &.active {
      color: var(--pg-c--button--primary--focus--text-color);
      background-color: var(--pg-c--button--primary--focus--bg-color);
      border-color: var(--pg-c--button--primary--focus--border-color);
      box-shadow: var(--pg-c--button--primary--focus--box-shadow);
      outline: var(--pg-c--button--primary--focus--outline);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: var(--pg-c--button--primary--text-color);
      background-color: var(--pg-c--button--primary--bg-color);
      border-color: var(--pg-c--button--primary--border-color);
      box-shadow: none;
      outline: none;
    }
  }

  &-secondary {
    color: var(--pg-c--button--secondary--text-color);
    background-color: var(--pg-c--button--secondary--bg-color);
    border-color: var(--pg-c--button--secondary--border-color);
    box-shadow: var(--pg-c--button--secondary--box-shadow);

    &.hover,
    &:hover {
      color: var(--pg-c--button--secondary--hover--text-color);
      background-color: var(--pg-c--button--secondary--hover--bg-color);
      border-color: var(--pg-c--button--secondary--hover--border-color);
      box-shadow: var(--pg-c--button--secondary--hover--box-shadow);
    }

    &:focus,
    &:active,
    &.active {
      color: var(--pg-c--button--secondary--focus--text-color);
      background-color: var(--pg-c--button--secondary--focus--bg-color);
      border-color: var(--pg-c--button--secondary--focus--border-color);
      box-shadow: var(--pg-c--button--secondary--focus--box-shadow);
      outline: var(--pg-c--button--secondary--focus--outline);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: var(--pg-c--button--secondary--text-color);
      background-color: var(--pg-c--button--secondary--bg-color);
      border-color: var(--pg-c--button--secondary--border-color);
      box-shadow: none;
      outline: none;
    }
  }

  &-success {
    color: var(--pg-c--button--success--text-color);
    background-color: var(--pg-c--button--success--bg-color);
    border-color: var(--pg-c--button--success--border-color);
    box-shadow: var(--pg-c--button--success--box-shadow);

    &.hover,
    &:hover {
      color: var(--pg-c--button--success--hover--text-color);
      background-color: var(--pg-c--button--success--hover--bg-color);
      border-color: var(--pg-c--button--success--hover--border-color);
      box-shadow: var(--pg-c--button--success--hover--box-shadow);
    }

    &:focus,
    &:active,
    &.active {
      color: var(--pg-c--button--success--focus--text-color);
      background-color: var(--pg-c--button--success--focus--bg-color);
      border-color: var(--pg-c--button--success--focus--border-color);
      box-shadow: var(--pg-c--button--success--focus--box-shadow);
      outline: var(--pg-c--button--success--focus--outline);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: var(--pg-c--button--success--text-color);
      background-color: var(--pg-c--button--success--bg-color);
      border-color: var(--pg-c--button--success--border-color);
      box-shadow: none;
      outline: none;
    }
  }

  &-danger {
    color: var(--pg-c--button--danger--text-color);
    background-color: var(--pg-c--button--danger--bg-color);
    border-color: var(--pg-c--button--danger--border-color);
    box-shadow: var(--pg-c--button--danger--box-shadow);

    &.hover,
    &:hover {
      color: var(--pg-c--button--danger--hover--text-color);
      background-color: var(--pg-c--button--danger--hover--bg-color);
      border-color: var(--pg-c--button--danger--hover--border-color);
      box-shadow: var(--pg-c--button--danger--hover--box-shadow);
    }

    &:focus,
    &:active,
    &.active {
      color: var(--pg-c--button--danger--focus--text-color);
      background-color: var(--pg-c--button--danger--focus--bg-color);
      border-color: var(--pg-c--button--danger--focus--border-color);
      box-shadow: var(--pg-c--button--danger--focus--box-shadow);
      outline: var(--pg-c--button--danger--focus--outline);
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:focus {
      color: var(--pg-c--button--danger--text-color);
      background-color: var(--pg-c--button--danger--bg-color);
      border-color: var(--pg-c--button--danger--border-color);
      box-shadow: none;
      outline: none;
    }
  }

  &-sm {
    height: var(--pg-c--button--sm--height);
    line-height: var(--pg-c--button--sm--line-height);
    padding: var(--pg-c--button--sm--padding);
    font-size: var(--pg-c--button--sm--font-size);
  }

  &-lg {
    height: var(--pg-c--button--lg--height);
    line-height: var(--pg-c--button--lg--line-height);
    padding: var(--pg-c--button--lg--padding);
    font-size: var(--pg-c--button--lg--font-size);
  }

  &-block {
    display: block;
    width: 100%;
  }

  &-square {
    width: var(--pg-c--button--height);
    // padding: 1.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    &.btn-sm {
      width: var(--pg-c--button--sm--height);
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    &.btn-lg {
      width: var(--pg-c--button--lg--height);
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }
}
